.submitPostForm input, .submitPostForm label{
    margin-top: 1em;
    display: block;
}

.submitPostForm{
    border: 1px solid black;
    padding: 1em;
}

.submitPostForm, .boardLogo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submitPostForm, .postContent{
    margin-right: 50%;
}

.postContent{
    border: 1px solid black;
    padding: 1em;
    word-wrap: break-word;
}

.reportPost{
    margin-left: 85%;
    display: inline;
}

@media only screen and (max-width: 600px) {
    .reportPost, footer{
        display: none;
    }
}
@media only screen and (max-width: 1090px){
    .postContent, .submitPostForm{
        margin-right: 5%;
    }
}
